GROQ_API_KEY=
OPEN_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="pr-brief-wholesaler-14"
ANTHROPIC_API_KEY=<your-anthropic-api-key>
TAVILY_API_KEY=